In [7]:
import pandas as pd

place_data =  pd.read_csv('place_data_tudari.csv') 
place_data

,Unnamed: 0,상가업소번호,brand,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,...,지번주소,도로명코드,도로명,도로명주소,층정보,경도,위도,place_id,월간 검색량,블로그누적발행
0,9478,MA010120220803665593,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 용산구 한강로1가 50-1,111702005005,서울특별시 용산구 한강대로,서울특별시 용산구 한강대로 205,NaN,126.972619,37.536585,11763577,20.0,45.00
1,9479,MA010120220803650891,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 동대문구 이문동 305-6,112304115730,서울특별시 동대문구 휘경로2길,서울특별시 동대문구 휘경로2길 13,2.0,127.060942,37.595408,38623490,20.0,97.00
2,9480,MA010120220804077811,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 광진구 자양동 601-3,112153104011,서울특별시 광진구 자양번영로,서울특별시 광진구 자양번영로 30,1.0,127.075723,37.532276,38008590,70.0,261.03
3,9482,MA010120220809830428,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 송파구 잠실동 194,117104169446,서울특별시 송파구 올림픽로8길,서울특별시 송파구 올림픽로8길 20,1.0,127.080089,37.510000,1978859905,20.0,72.00
4,9484,MA010120220800691151,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 관악구 신림동 1423-28,116204160397,서울특별시 관악구 봉천로12길,서울특별시 관악구 봉천로12길 69,NaN,126.930305,37.485724,1854604083,20.0,201.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,10347,MA010120220802356329,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,경기도 안산시 단원구 선부동 1077-3,412733191034,경기도 안산시 단원구 선부광장1로,경기도 안산시 단원구 선부광장1로 108,NaN,126.812574,37.333243,33913458,50.0,94.00
350,10348,MA010120220802360558,투다리,투다리,부곡점,I2,음식,I211,주점,I21104,...,경기도 안산시 상록구 부곡동 686-1,412714370250,경기도 안산시 상록구 성호로13길,경기도 안산시 상록구 성호로13길 6,NaN,126.858412,37.325864,21778557,50.0,121.00
351,10349,MA010120220803186330,투다리,투다리,기흥점,I2,음식,I211,주점,I21104,...,경기도 용인시 기흥구 영덕동 14-2,414634412090,경기도 용인시 기흥구 덕영대로2077번길,경기도 용인시 기흥구 덕영대로2077번길 16,NaN,127.096609,37.268207,1527496076,20.0,40.00
352,10350,MA010120220814196473,투다리,투다리부천,북부점,I2,음식,I211,주점,I21104,...,경기도 부천시 원미구 심곡동 164-15,411924352184,경기도 부천시 원미구 부천로40번길,경기도 부천시 원미구 부천로40번길 10,1.0,126.784114,37.487656,1785050533,20.0,96.00
353,10351,MA010120220811833710,투다리,투다리,오학점,I2,음식,I211,주점,I21104,...,경기도 여주시 현암동 206-1,416704442480,경기도 여주시 학동1길,경기도 여주시 학동1길 13,1.0,127.641840,37.304458,90452370,20.0,7.00

In [6]:
# brand 컬럼에서 '투다리'만 필터링
place_data = place_data[place_data["brand"] == "투다리"]

# 결과 확인
place_data.head()

# CSV로 저장
place_data.to_csv(
    "place_data_tudari.csv",
    index=False,
    encoding="utf-8-sig"
)

NameError: name 'place_data' is not defined

In [8]:
place_data.head()
place_data.columns
place_data = place_data.dropna(subset=['place_id']) #결측값 제거

In [9]:
place_data

,Unnamed: 0,상가업소번호,brand,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,...,지번주소,도로명코드,도로명,도로명주소,층정보,경도,위도,place_id,월간 검색량,블로그누적발행
0,9478,MA010120220803665593,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 용산구 한강로1가 50-1,111702005005,서울특별시 용산구 한강대로,서울특별시 용산구 한강대로 205,NaN,126.972619,37.536585,11763577,20.0,45.00
1,9479,MA010120220803650891,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 동대문구 이문동 305-6,112304115730,서울특별시 동대문구 휘경로2길,서울특별시 동대문구 휘경로2길 13,2.0,127.060942,37.595408,38623490,20.0,97.00
2,9480,MA010120220804077811,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 광진구 자양동 601-3,112153104011,서울특별시 광진구 자양번영로,서울특별시 광진구 자양번영로 30,1.0,127.075723,37.532276,38008590,70.0,261.03
3,9482,MA010120220809830428,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 송파구 잠실동 194,117104169446,서울특별시 송파구 올림픽로8길,서울특별시 송파구 올림픽로8길 20,1.0,127.080089,37.510000,1978859905,20.0,72.00
4,9484,MA010120220800691151,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,서울특별시 관악구 신림동 1423-28,116204160397,서울특별시 관악구 봉천로12길,서울특별시 관악구 봉천로12길 69,NaN,126.930305,37.485724,1854604083,20.0,201.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,10347,MA010120220802356329,투다리,투다리,NaN,I2,음식,I211,주점,I21104,...,경기도 안산시 단원구 선부동 1077-3,412733191034,경기도 안산시 단원구 선부광장1로,경기도 안산시 단원구 선부광장1로 108,NaN,126.812574,37.333243,33913458,50.0,94.00
350,10348,MA010120220802360558,투다리,투다리,부곡점,I2,음식,I211,주점,I21104,...,경기도 안산시 상록구 부곡동 686-1,412714370250,경기도 안산시 상록구 성호로13길,경기도 안산시 상록구 성호로13길 6,NaN,126.858412,37.325864,21778557,50.0,121.00
351,10349,MA010120220803186330,투다리,투다리,기흥점,I2,음식,I211,주점,I21104,...,경기도 용인시 기흥구 영덕동 14-2,414634412090,경기도 용인시 기흥구 덕영대로2077번길,경기도 용인시 기흥구 덕영대로2077번길 16,NaN,127.096609,37.268207,1527496076,20.0,40.00
352,10350,MA010120220814196473,투다리,투다리부천,북부점,I2,음식,I211,주점,I21104,...,경기도 부천시 원미구 심곡동 164-15,411924352184,경기도 부천시 원미구 부천로40번길,경기도 부천시 원미구 부천로40번길 10,1.0,126.784114,37.487656,1785050533,20.0,96.00
353,10351,MA010120220811833710,투다리,투다리,오학점,I2,음식,I211,주점,I21104,...,경기도 여주시 현암동 206-1,416704442480,경기도 여주시 학동1길,경기도 여주시 학동1길 13,1.0,127.641840,37.304458,90452370,20.0,7.00

In [10]:
# 네이버 플레이스 URL 생성
place_data['naver_place_url'] = (
    'https://pcmap.place.naver.com/place/'
    + place_data['place_id'].astype(str)
    + '/home'
)
# 결과 확인
place_data[['place_id', 'naver_place_url']].head()

     place_id                                    naver_place_url
0    11763577  https://pcmap.place.naver.com/place/11763577/home
1    38623490  https://pcmap.place.naver.com/place/38623490/home
2    38008590  https://pcmap.place.naver.com/place/38008590/home
3  1978859905  https://pcmap.place.naver.com/place/1978859905...
4  1854604083  https://pcmap.place.naver.com/place/1854604083...

In [3]:
# =====================================
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
import time
import re
import pandas as pd

options = Options()
options.add_experimental_option("detach", True)

service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service, options=options)

wait = WebDriverWait(driver, 15)

In [ ]:
# 한페이지만 출력
driver.get(place_data['naver_place_url'].iloc[0])

In [12]:

# =====================================
# naver_place_url 없으면 생성 (안전)
# =====================================
if "naver_place_url" not in place_data.columns:
    place_data["naver_place_url"] = (
        "https://pcmap.place.naver.com/place/"
        + place_data["place_id"].astype(str)
        + "/home"
    )

# =====================================
# 숫자만 추출 함수
# =====================================
def extract_number(text):
    return int(re.sub(r"[^0-9]", "", text))


# =====================================
# 결과 저장용 리스트
# =====================================
results = []
fail_place_ids = []


# =====================================
# 전체 place_data 반복 크롤링
# =====================================
for _, row in place_data[["place_id", "naver_place_url"]].dropna().head(10).iterrows():
    place_id = row["place_id"]
    url = row["naver_place_url"]

    try:
        # -------------------------------
        # 페이지 접속
        # -------------------------------
        driver.get(url)
        time.sleep(3)

        # (필요 시 iframe)
        # driver.switch_to.frame("entryIframe")

        # -------------------------------
        # 1️⃣ 근접 지하철역 (가장 먼저)
        # -------------------------------
        near_subway = wait.until(
            EC.presence_of_element_located(
                (By.XPATH,
                 '//*[@id="app-root"]/div/div/div[6]/div/div[2]/div[1]/div/div[1]/div/div')
            )
        ).text

        # -------------------------------
        # 2️⃣ 방문자 리뷰 수
        # -------------------------------
        visit_review_count = extract_number(
            wait.until(
                EC.presence_of_element_located(
                    (By.XPATH,
                     '//*[@id="app-root"]/div/div/div[2]/div[1]/div[2]/span[2]/a')
                )
            ).text
        )

        # -------------------------------
        # 3️⃣ 블로그 리뷰 수
        # -------------------------------
        blog_review_count = extract_number(
            wait.until(
                EC.presence_of_element_located(
                    (By.XPATH,
                     '//*[@id="app-root"]/div/div/div[2]/div[1]/div[2]/span[3]/a')
                )
            ).text
        )

        # -------------------------------
        # 4️⃣ 리뷰 탭 클릭
        # -------------------------------
        review_button = wait.until(
            EC.element_to_be_clickable(
                (By.XPATH,
                 '//*[@id="app-root"]/div/div/div[5]/div/div/div/div/a[3]/span')
            )
        )
        driver.execute_script("arguments[0].click();", review_button)
        time.sleep(2)

        # -------------------------------
        # 스크롤 1회
        # -------------------------------
        driver.execute_script("window.scrollBy(0, window.innerHeight);")
        time.sleep(2)

        # -------------------------------
        # 5️⃣ 사진 리뷰 버튼 클릭
        # -------------------------------
        photo_button = wait.until(
            EC.element_to_be_clickable(
                (By.XPATH,
                 '//*[@id="app-root"]/div/div/div[7]/div[3]/div[3]/h2/div[2]/a')
            )
        )
        driver.execute_script("arguments[0].click();", photo_button)
        time.sleep(2)

        # -------------------------------
        # 6️⃣ 총 리뷰 수
        # -------------------------------
        total_review_count = extract_number(
            wait.until(
                EC.presence_of_element_located(
                    (By.XPATH,
                     '//*[@id="app-root"]/div/div/div[7]/div[3]/div[3]/h2/div[1]/em')
                )
            ).text
        )

        # -------------------------------
        # 7️⃣ 사진 포함 리뷰 수
        # -------------------------------
        photo_review_count = extract_number(
            wait.until(
                EC.presence_of_element_located(
                    (By.XPATH,
                     '//*[@id="app-root"]/div/div/div[7]/div[3]/div[3]/h2/div[1]/em')
                )
            ).text
        )

        # -------------------------------
        # 결과 누적
        # -------------------------------
        results.append({
            "place_id": place_id,
            "naver_place_url": url,
            "near_subway": near_subway,
            "visit_review_count": visit_review_count,
            "blog_review_count": blog_review_count,
            "total_review_count": total_review_count,
            "photo_review_count": photo_review_count
        })

        print(f"[OK] 수집 완료 | place_id={place_id}")

    except Exception as e:
        print(f"[ERROR] 수집 실패 | place_id={place_id}")
        print(e)
        fail_place_ids.append(place_id)
        continue


# =====================================
# DataFrame 변환
# =====================================
df = pd.DataFrame(results)
df

[OK] 수집 완료 | place_id=11763577
[OK] 수집 완료 | place_id=38623490
[OK] 수집 완료 | place_id=38008590
[ERROR] 수집 실패 | place_id=1978859905
Message:
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0xba7d13
	0xba7d54
	0x9cb290
	0xa156ea
	0xa1598b
	0xa57912
	0xa38004
	0xa55111
	0xa37d56
	0xa094d9
	0xa0a294
	0xe1bb64
	0xe17215
	0xe33fad
	0xbc1ef8
	0xbc9b0d
	0xbb0738
	0xbb0902
	0xb9a1da
	0x753ffcc9
	0x771a82ae
	0x771a827e

[OK] 수집 완료 | place_id=1854604083
[OK] 수집 완료 | place_id=20937688
[ERROR] 수집 실패 | place_id=20936897
Message:
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0xba7d13
	0xba7d54
	0x9cb290
	0xa156ea
	0xa1598b
	0xa57912
	0xa38004
	0xa55111
	0xa37d56
	0xa094d9
	0xa0a294
	0xe1bb64
	0xe17215
	0xe33fad
	0xbc1ef8
	0xbc9b0d
	0xbb0738
	0xbb0902
	0xb9a1da
	0x753ffcc9
	0x771a82ae
	0x771a827e

[OK] 수집 완료 | place_id=37891045
[ERROR] 수집 실패 | place_id=1539960565
Message:
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0xba7d13
	0xba7d54
	0x9cb290
	0xa156ea
	0xa1598b
	0xa57912
	0xa38004
	0xa55111
	0xa37d56
	0xa094d9
	0xa0a294
	0xe1bb64
	0xe17215
	0xe33fad
	0xbc1ef8
	0xbc9b0d
	0xbb0738
	0xbb0902
	0xb9a1da
	0x753ffcc9
	0x771a82ae
	0x771a827e

[ERROR] 수집 실패 | place_id=1105083671
Message:
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0xba7d13
	0xba7d54
	0x9cb290
	0xa156ea
	0xa1598b
	0xa57912
	0xa38004
	0xa55111
	0xa37d56
	0xa094d9
	0xa0a294
	0xe1bb64
	0xe17215
	0xe33fad
	0xbc1ef8
	0xbc9b0d
	0xbb0738
	0xbb0902
	0xb9a1da
	0x753ffcc9
	0x771a82ae
	0x771a827e

,place_id,naver_place_url,near_subway,visit_review_count,blog_review_count,total_review_count,photo_review_count
0,11763577,https://pcmap.place.naver.com/place/11763577/home,46삼각지역 10번 출구에서 15m\n미터,191,11,22,22
1,38623490,https://pcmap.place.naver.com/place/38623490/home,1외대앞역 4번 출구에서 218m\n미터,113,10,11,11
2,38008590,https://pcmap.place.naver.com/place/38008590/home,7자양역 1번 출구에서 974m\n미터,239,20,26,26
3,1854604083,https://pcmap.place.naver.com/place/1854604083...,2신림신림역 3번 출구에서 224m\n미터,170,32,21,21
4,20937688,https://pcmap.place.naver.com/place/20937688/home,2성수역 3번 출구에서 819m\n미터,91,9,8,8
5,37891045,https://pcmap.place.naver.com/place/37891045/home,89석촌역 7번 출구에서 165m\n미터,209,25,26,26